* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.intro {
  display: flex;
  flex-direction: column;
  background: url("../assets/Desktop_Backgrounds_1920x1200_6 3.svg") no-repeat center center;
  max-width: 1200px;
  height: 800px;
  margin: 0 auto;
  padding-bottom: 20%;
}

header {
  display: flex;
  flex-direction: row;
  gap: 165px;
  padding: 45px 153px;
  font-family: 'Source Sans 3';
  font-style: normal; 
}

.header-header {
  font-size: 20px; 
  font-weight: 600;
  line-height: 16px; 
  letter-spacing: 2px;
}

.header-nav {
  font-size: 14px; 
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2.8px; 
  
  display: flex;
  flex-direction: row;
  gap: 32px;

  list-style: none;
}

.header-nav > li {
  text-decoration: none;
  cursor: pointer;
}

.header-nav > li:nth-child(2) {
  display: block;
  padding-bottom: 6px;
  border-bottom: 2px solid white;
}

.intro-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.headline-logo {
  width: 63px;
  height: 63px;
  margin-bottom: 13px;
}

.headline-header {
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  max-width: 350px;

  text-align: center;
  margin-bottom: 40px;
}

.headline-text {
  color: rgba(255, 255, 255, 0.70);
  text-align: center;
  font-family: 'Source Sans 3';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 420px;

  margin-bottom: 48px;
}

.headline {
  height: 700px;
  flex-shrink: 0; 
  background-color: #EEEEEE;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.headline-text-container {
  display: flex;
  flex-direction: row;
  gap: 83px;

  margin-bottom: 46px;
}

.headline-text-2 {
  color: #666; 
  font-family: 'Source Sans 3';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 408px;

}

.read-more-button {
  border-radius: 18px;
  border: none;
  background-color: #55C2D8;
  color: white;
  width: 115px;
  height: 36px;
  flex-shrink: 0; 
}

.learn-more {
  background: url("../assets/Learn_more_Background.png") no-repeat center center;
}

.overlay-learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 666px;
  max-width: 1200px;
  padding-top: 84px;
  text-align: center;
  margin: 0 auto;
  background: rgba(140, 79, 42, 0.30);
}

.learn-more-header {
  max-width: 350px;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; 
  margin-bottom: 53px;
}

.circle-button {
  width: 150px;
  height: 150px;
  background-color: #39C2D7;
  flex-shrink: 0; 
  border-radius: 50%;
  padding-left: 20px;
  padding-top: 25px;
  margin-bottom: 70px;
}

.circle-button-icon {
  font-size: 75px;
}

.learn-more-text {
  text-align: center;
  font-family: 'Source Sans 3';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  width: 390px; 
}

footer {
  background-color: #464547;
  height: 170px;
  max-width: 1200px;
  margin: auto;
  padding-left: 153px;
  padding-top: 37px;

  display: flex;
  flex-direction: row;
}

.company-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 81px;
  align-self: flex-start;
}

.footer-logo {
  height: 20px;
  width: 20px;
  margin-right: 16px;
  margin-bottom: 12px;
}

.footer-header {
  font-family: 'Source Sans 3';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 12px;
  letter-spacing: 3.6px; 
  word-wrap: break-word;
}

.company-address {
  margin-right: 186px;
}

.footer-text {
  color: rgba(255, 255, 255, 0.40);
  font-family: 'Source Sans 3';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; 
  margin-bottom: 27px;
}

.gray {
  color: #464547; 
}

.width-2 {
  max-width: 670px;
}